{% extends "page.twig" %}
{% block head %}
  {{ parent() }}
  <link href="https://fonts.googleapis.com/css?family=Thasadith:700,700i" rel="stylesheet">
{% endblock %}
{% block body %}
  {% for testcase in testcases %}
    <section class="testcase">
      <div class="testcase__suite-group">
        {% if testcase.test_suite %}
          {% set label = testcase.test_suite|length > 1 ? 'Test Suites' : 'Test Suite' %}
          <span class="testcase_suite">{{ label }}: {{ testcase
        .test_suite|join(', ') }}</span>{% endif %}
        {% if testcase.group %}
          <span class="testcase_group">Group: {{ testcase.group }}</span>{% endif %}
      </div>
      <h1>Test Case: {{ testcase.id }} {% include('pass-fail.twig') with {name: testcase.id ~ '-pass'} %}</h1>
      {{ testcase.html|raw }}
      {% include('tester-comments.twig') %}
    </section>
  {% endfor %}
{% endblock %}
